body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

h1, h2 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input, select, textarea {
  display: block ;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  max-width:380px;
  border-radius: 7px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
.menu-list li {
  font-size: 18px;
  margin-bottom: 10px;
}

.menu-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black; 
}

.menu-list a:hover {
  color: #007bff;
}

.menu-list .menu-text {
  margin-left: 19px;
}


